.container-title{display:inline-block;vertical-align:bottom;width:100%;position:relative;padding-left:18px;text-transform:uppercase;margin-bottom:20px}
.container-title::after{width:10px;height:22px;background:#DEB833;position:absolute;left:0;top:8px;content:""}
.container-titleleft{display:block;font-size:30px;line-height:40px;float:left;}
.container-titleright{display:block;width:103px;height:40px;background:#DEB833;color:#fff;text-align:center;line-height:40px;border-radius:20px;float:right}
.index-best{justify-content:flex-start;width:100%;flex-wrap:nowrap;overflow:hidden;margin-bottom:95px}
.index-best li{display:inline-block;vertical-align:bottom;margin:0;flex-shrink:0;width:calc((100% - 40px) / 5);margin-right:10px;}
.index-best li:nth-child(5){margin-right:0}
.index-best li>a{display:block;width:100%}
.product-img{width:100%;margin-bottom:6px;height: 300px;object-fit: cover}
.product-name{display: block;width:100%;text-align:center;font-size:14px;line-height:18px;padding:0 15px}
.price{text-align:center;display: block}
.price-new{font-size:14px;margin-right:5px;color:#FF3B30}
.price-old{font-size:12px;color:#999; text-decoration:line-through}
.index-list{justify-content:space-between;flex-wrap:wrap}
.index-listitem{width:calc((100% - 10px) / 2);margin:0 0 10px;}
.index-listitem a{display:block;width:100%;position:relative}
.index-listitem a img{height:220px;object-fit: cover}
.index-listitem a .shop-now{display:block;width:120px;height:40px;background:#DEB833;line-height:40px;text-align:center;border-radius:20px;position:absolute;right:10px;bottom:10px;color:#fff}

.pink-area{padding:8px 0;clear:both;display:block;color:#000}
.pink-area-content{max-width:1200px;width: 100%;margin:0 auto 20px;display: flex;display: -webkit-flex;justify-content:space-around}
.pink-area a.pink-link{color:#330000;text-decoration:none;display:inline-block;}
.pink-area a.pink-link:hover{color:#330000}
.pink-link img{width:60px;margin-bottom: 10px}
.pink-area a img:hover{opacity:1;display:inline-block}
.pink-area a.link{text-decoration:underline;font-weight:700}
.pink-box1,.pink-box2,.pink-box3,.pink-box4{text-align:center;width:33.3%;font-size:15px;margin: 0}
.pink-box strong{font-weight:700}

/*category*/ 
.category-left{width:160px;float:left}
.category-right{width:calc(100% - 210px);margin-left:50px;display:inline-block;vertical-align:bottom}
.category-list{justify-content:flex-start;width:100%;flex-wrap:wrap;overflow:hidden;}
.category-list li{display:inline-block;vertical-align:bottom;margin:0;width:calc((100% - 30px) / 4);margin:0 10px 30px 0;}
.category-list li:nth-child(4n){margin-right:0}
.category-list li>a{display:block;width:100%}
.category-left-title{font-size:14px;line-height:18px;margin-bottom:8px;color:#DEB833;font-weight:bold}
.category-left-link{display:block;width:100%;line-height:30px;font-size:14px;height:30px;overflow:hidden}
.category-left-link.active a{color:#DEB833;border-bottom:1px solid #DEB833}
.category-left-link a:hover{color:#DEB833;}
.product-image{height: 300px;object-fit: cover}

/*search*/
.search-list{justify-content:flex-start;width:100%;flex-wrap:wrap;overflow:hidden;}
.search-list li{display:inline-block;vertical-align:bottom;margin:0;width:calc((100% - 40px) / 5);margin:0 10px 30px 0;}
.search-list li:nth-child(5n){margin-right:0}
.search-list li>a{display:block;width:100%}
.page{align-items:center;justify-content:center;font-size:14px; color:#999;}
.page-num{align-items:center;justify-content:center;margin:0}
.page-num span{display:block;width:35px;height:30px;text-align:center;line-height:30px;margin:0 6px 0 0;color:#999;}
.page-num a{display:block;width:35px;height:30px;text-align:center;line-height:30px;margin:0 6px 0 0;color:#999;}
.page-num span:hover{background:#DEB833;color:#fff;border-radius:4px;}
.page-num>li.active{background:#DEB833;color:#fff;border-radius:4px;margin:0 10px;display: block;width: 35px;height: 30px;text-align: center;line-height: 30px;}
.page-num a.active{color: white;}
.page span{color:#999;margin:0 6px 0 0}
.page select{width:35px;height:30px;border-radius:4px;border:1px solid #ddd;color:#999;margin:0 6px 0 0}
.category-mobile{display:none}
.category-mobile-link{display:none}
.search-title{font-size:14px;margin-bottom:22px}
.search-title span{color:#DEB833}

/*product*/
.product-content{display:inline-block;vertical-align:bottom;width:100%}
.product-contentleft{display:inline-block;vertical-align:bottom;width:calc(100% - 570px);margin-right:70px}
.product-contentright{display:inline-block;vertical-align:bottom;width:500px;float:right}
.product-content-title{font-size: 16px; font-weight: bold;margin-bottom:14px}
.product-content-price{margin-bottom:14px}
.product-content-price .price-new{font-size:18px;}
.product-content-price .price-old {font-size:12px;text-decoration:line-through}
.product-form{width:100%;padding:14px 0;border-top:1px solid #ddd}
.product-form .item{width:100%;margin-bottom:20px}
.product-form .item .title{width:100%;font-size:14px;margin-bottom:7px;display: block}
.product-form .item select,.product-form .item input{width:100%;border:1px solid #ddd;border-radius:20px;font-size:14px;height:40px;line-height: 40px;padding:0 20px}
.product-form .item select,.onepage-resp-item select{padding: 0 30px 0 20px !important;background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAALVBMVEUAAAAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDBkOl2bAAAADnRSTlMA8DAQz2DQn4/gv5BQQHO0+mAAAAB2SURBVCjPY5BgQAEtDPsKkPnsTxlYnyML1AUwMMQVoChgQFbCDFIAVLIYJmDyFEyxPjGAKnA8AGFcdIYqEIKqZBIxgChQgOlVdIYpgCtRABKCQAKuRAiIJyE5kClRgUnMANnJZkKKySieZE6EKkAoSWYYBdgAABukEvZqMmLAAAAAAElFTkSuQmCC") no-repeat scroll transparent !important;background-size:12px auto !important;background-position:calc(100% - 15px) 16px !important;}
.product-form .item textarea{width:100%;border:1px solid #ddd;border-radius:5px;font-size:14px;height:100px;line-height: 20px;padding:10px 20px}
.product-num { display: flex;display: -webkit-flex;width: 160px; margin: 0; border: 1px solid #ddd;border-radius: 20px;overflow: hidden;}
.product-num-dec {width: 33.3%;line-height: 40px; text-align: center;cursor: pointer;font-size: 20px;}
.product-num-add { width: 33.3%;text-align: center;line-height: 40px;cursor: pointer;font-size: 20px;}
.product-num-input{width: 33.3% !important; border-radius: 0 !important;padding: 0 !important;text-align: center;border-width: 0 1px 0 1px !important;}
.add-cartbtn{width:100%;height:40px;border-radius:20px;background:#DEB833;color:#fff;font-size:14px;border:0;cursor:pointer;margin-top:30px}
.product-swiper{padding:0 50px;position:relative}
.swiper-button-next{width:40px;height:40px;background:url(../images/right.png) no-repeat center;background-size:100% auto;right:0px;top:110px}
.swiper-button-prev{width:40px;height:40px;background:url(../images/left.png) no-repeat center;background-size:100% auto;left:0px;top:110px}
.swiper-pagination-top{display:none}


/*#ChildVerticalTab_1{margin:100px auto 50px !important}
#ChildVerticalTab_1 .resp-tab-active { border-width:1px 1px 0 1px !important;border-color:#DEB833 !important;border-style:solid ;padding:17px 55px;color:#DEB833 !important}
#ChildVerticalTab_1 .resp-tabs-list li{background-color:#fff !important;border-width:1px 1px 0 1px;border-color:#ddd;border-style:solid;padding:17px 55px !important;color:#999}
#ChildVerticalTab_1 .resp-tab-content {border:none;border-top:1px solid #DEB833;font-size:14px;line-height:32px}*/
.swiper-container { width: 100%;margin-left: auto; margin-right: auto;}
.gallery-top {width: calc(100% - 80px);float:right;}
.gallery-top .swiper-slide img{height: 100%; object-fit:contain;}
.gallery-thumbs {box-sizing: border-box;padding: 0;width:70px; margin:0;float:left;max-height:550px}
 .gallery-thumbs .swiper-slide { width: 100% !important;opacity: 0.4;height:auto !important}
.gallery-thumbs .swiper-slide-thumb-active {opacity: 1;}
 .product-swiper .swiper-pagination{display:none}
 .product-swiper .swiper-button-next:after,.product-swiper .swiper-button-prev:after{content: none}
 .gallery-thumbs .swiper-slide img{width:100%;height:100%}
 #product-tab{margin:100px auto 50px}
 .product-tabs-list{display:inline-block;vertical-align:bottom;width: 100%;border-bottom:1px solid #DEB833}
.product-tabs-list li{border-width:1px 1px 0 1px;border-style:solid;border-color:#ddd;position:relative;width:180px;height: 50px;line-height: 50px; padding: 0 10px; float: left;margin-right:10px}
.product-tabs-list li.active{border-color:#DEB833;color:#DEB833}
.product-tabs-list li.active::after{width:100%;height:2px;background:#fff;position:absolute;bottom:-1px;left:0;content:""}
.product-tabs-container{display:inline-block;vertical-align:bottom;width: 100%;padding:25px 0;font-size:14px;line-height:32px}
.product-respcontent1{display:none}
.product-tabs-list li:before{width: 12px;height: 50px;background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAgBAMAAABulgz5AAAAElBMVEUAAACampqZmZmZmZmXl5eZmZlOfsa7AAAABXRSTlMAMPCgIBLtEeEAAAAoSURBVCjPYyAfMAqgizgpooswB2EoMh2iihAiCF1DSomTIpYYpBQAACnoCQH3bk2fAAAAAElFTkSuQmCC) no-repeat center; background-size: 100% auto;content: ""; position: absolute; right: 10px;transform:rotate(90deg)}
.product-swiper .swiper-slide{margin-left: 0}
.product-comment{display: flex;display: -webkit-flex;align-items: center;justify-content: flex-start;margin-bottom: 14px}
.product-star{display: flex;display: -webkit-flex;justify-content: center;align-items: center;margin: 0}
.icon-star{display: block;width: 15px;height: 15px;margin: 0 ;background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAOVBMVEUAAAD/4AD/3wD/4AD/4AD/4AD/3wD/3wD/3wD/4AD/3wD/4AD/4AD/3wD/3wD/3wD/4QD/3wD/4AAl3VHgAAAAEnRSTlMA8BCgwEAgMNCwgHDfYOCQf1Ae7t/UAAAAp0lEQVQ4y62S2w7DIAxDG66Ftmvn///YrSuIlUDQpJ1HbBlMMv2MH+ga5CTdAtCSweCNEwPkCI0TUj3d4SIKAWLEExnNsu1ymBUFMvqwPqkqoMdqT8OCPuvIMKfv60H+esQs6MzBdO7genFwvTgeqLBsDhV8VW7wtaHBFQo1kS1bho+8PRBzN+ypfPRbLtwqoT9P36hRI5yh+UhFYgkuBPtdajfb9CdemGAdD2jjyMQAAAAASUVORK5CYII=") no-repeat center;background-size:100% auto; }
.icon-star-empty{display: block;width: 15px;height: 15px;margin: 0 ;background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAANlBMVEUAAAD/4AD/3wD/4AD/3wD/4AD/3wD/4AD/4AD/3wD/4AD/3wD/3wD/4AD/3wD/3wD/4QD/4AA/6ZthAAAAEXRSTlMA8BBAMMCAoG8g0GCQ37DgX9pnHrYAAADWSURBVDjLrZJREsIgDEQTICEIVff+lzVaW8dI+2W+dtk3mW2B/j3JLJ3mC3A5IxRm0JMFLETCxysqMlFGPcobruRzRTsABG3lZJ7v9QYslstWL58PTE9dLW9li3tARt/bpz4EcKq8LPPoruKUPphfCoMOZuBdvs/zDtk6lVle9taNedaBue06EOEs0LOtkxuqsZfIuSdEgCOg8W19+/wLlADkVaQUDt5jq88VqKuChY3JD8VjR8SRBI1AX8DaiNpgLPcIFAZuur0odRd/ftb+ddOa6V/zAONpB6toqvGrAAAAAElFTkSuQmCC") no-repeat center;background-size:100% auto; }
.product-comment-num{margin: 0 0 0 5px;font-size: 14px}

/*cart*/
.continue-shopping{display:flex;display:-webkit-flex;align-items:center;justify-content:space-between;padding:10px 0;border-bottom:1px solid #ddd}
.continue-shopping>*{margin:0;font-size:14px}
.continue-shopping>a{display:block;position:relative;padding-right:20px;line-height:20px}
.continue-shopping>a::after{width:20px;height:20px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAALVBMVEUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADBoCg+AAAADnRSTlMAQBDwMNBgIN+voJBvUNl1Dp4AAABBSURBVCjPYxjkgAldgHESusBTBTSBdy3oAo8d0ATePUMXeHcAXSAITeAVupYNaALP0Kx9fAFNwATN6ewFDIMdAAAkiRgVnFb7mwAAAABJRU5ErkJggg==) no-repeat center;background-size:100% auto;content:"";position:absolute;right:0}
.cart-list {display: inline-block;vertical-align: bottom;width: 100%;border-bottom:1px solid #ddd}
.cart-list li{ display: flex; display: -webkit-flex;align-items: center;padding: 30px 0;border-bottom:1px solid #f2f2f2}
.cart-list li:last-child{border-bottom:none}
.cart-list li img{ width: 120px;margin: 0; border-radius: 5px;}
.cart-list-dec{width: calc(100% - 520px);margin:0 20px}
.cart-product-detail{ font-size: 12px;line-height: 18px;margin:10px 0}
.cart-quantity{ display: flex;align-items: center;width: 100px; margin: 0;border: 1px solid #ddd;border-radius: 20px;}
.cart-quantity>span{display: block; margin: 0;width: 33%;text-align: center;height: 30px;line-height: 30px;cursor: pointer}
.cart-quantity>input{width: 34%;border-width:0 1px 0 1px;border-color:#ddd;border-style:solid;height: 30px; line-height: 30px; text-align: center;margin: 0;}
.cart-price { margin: 0;min-width: 200px;display: block;text-align: right;font-size:16px;font-weight:bold}
.cart-num{display:flex;display:-webkit-flex;align-items:center;font-size:12px}
.cart-num-title{display:block;width:50px;margin-right:10px}
.cart-product-name{font-size:14px}
.cart-product-name a,.cart-product-name a:active,.cart-product-name a:hover{color: #303030}
.cart-remove{font-size:12px;color:#999;cursor:pointer;text-decoration:underline}
.cart-remove:hover{color:#999}
.cart-shipping{padding:20px 0 30px;border-bottom:1px solid #ddd}
.cart-shipping-title{font-size:14px}
.cart-code{display: inline-block;vertical-align: bottom; width: 500px; height: 40px; border-radius: 20px;background: #fff; overflow: hidden;border: 1px solid #ddd; margin: 17px 0 0;}
.cart-code input{width: calc(100% - 100px); height: 100%; padding: 0 20px;}
.cart-code a{display: block;width: 100px; height: 40px;line-height: 40px;background: #DEB833; color: #fff; text-align: center;float: right; border-radius: 20px; cursor: pointer;}
.cart-comment{ width: 100%;height: 40px;border: 1px solid #ddd;border-radius: 20px; margin-top: 17px; padding:10px 20px;}
.cart-subtotal{display:block;width:100%;text-align:right;padding:30px 0 20px 0}
.cart-subtotal .f20{font-size:20px;font-weight:bold}
.cart-btn{display: flex;display: -webkit-flex;justify-content: flex-end;align-items: center;}
.cart-paypalbtn {display: block; width: 215px;height: 40px; margin: 0;background:url(https://d2k7oup5fi4mcj.cloudfront.net/assets/images/paypal-bt.jpg) no-repeat center;background-size:100% 100%}
.cart-checkoutbtn {display: block; width: 300px;background: #deb833;color: #fff !important;  height: 40px; border-radius: 20px; text-align: center; line-height: 40px;margin: 0;}
.cart-btn span{margin:0 10px}
.cart-checkoutbtn:hover,.cart-checkoutbtn:active{color:#fff}
.secure-checkaddr{margin-top:17px}
.secure-checkaddr label {display: inline-block; position: relative; margin: 0; padding-left: 20px; font-size: 14px;color: #303030;}
.secure-checkaddr label input[type="radio"]:checked:after { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAM1BMVEUAAAAvhO0ug+wrhe8tg+0ug+0wgO8thewvg+0ug+0uhOwsg+8wh+8vg+0uhO0vhO0vhO1RDaAMAAAAEHRSTlMA4MAwUIAQYPCQsEAg0KDPPYnA7AAAAMhJREFUOMutU0sWgzAILCRoPkbn/qdtG1KbWJ904azy+MwAgcetcMIbsLG4U/dM2EH+x70wQNG7F4+PBPByYA+geWALbvADaeoNUwJcxx+wHjVXhK8KI2meF2bxypXAuyKo2jK1HnKNDvj0Qqj1CXZIy2sV6iOjQ9ZErVMQ34zU+VUzQrTEquUxQE1aZqlMggFStbcaACjPAFaPGWBJlP+KjEabxqDORz23UZufZX23uTDWyl0tbUBw5tof4a8Pp51eAYqe3n14At6CE8/cQYXbAAAAAElFTkSuQmCC); background-size: 100% auto;width: 14px; height: 14px; }
.secure-checkaddr label input[type="radio"]:after {content: ''; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAM1BMVEUAAAArhe8vhO0ug+wtg+0vg+0thewug+0vg+0wh+8wgO8uhOwug+0uhO0vg+wuhe0vhO2TxxY7AAAAEHRSTlMAMODAUPBgkNAgELCAoK9/abhTjAAAALNJREFUOMutU0EShCAMs4UKCmr+/9rd2UUrCvZiLsyQ0gQahldBm4tAdBs16ZFxgP2NnhzAwdO3jw8MuOnSXcBj1U2o4oE0nzfmBNCpv2C5ai4QVXFId9MJ7lAEa39VEex3YYwVped2hzw0wcVnRmgXBORi0bcLfLEZQZ3ZIP5WoEEqYxbYErbJYFzTeCjrqe1hFZtrZ9x2YDRyax25FaCn0AqEzNhf4XsfR0H5//UyDW/iA1bRCGbsQNFJAAAAAElFTkSuQmCC);background-size: 100% auto; width: 14px; height: 14px;position: absolute;  z-index: 8;left: 0px;top: 0;border-radius: 50%;}
.secure-shipping > p {font-size: 12px;color: #999;padding: 8px 0 0 20px;}
.cart-shipping-list {display: inline-block;width: 100%;}
.cart-shipping-left { display: block;width: 400px; float: left;}
.cart-shipping-right {width: 400px;float: left;margin-top:17px;}
.cart-shipping-right p{font-size:12px;line-height:18px;color:#999}
.cart-product-name2{display:none}
.secure-shipping2{padding:20px 0 0 20px;clear: both}
.secure-shipping2 input{border: 1px solid #ddd;height: 30px;width: 200px;margin-left: 10px;padding: 0 5px}
.secure-shipping2 .note{margin-top: 5px;color: #999;font-size: 12px}
.cart-empty{width:100%;text-align:center;margin-top:60px}
.cart-empty img{width:100px}
.cart-empty a{display:block;width:220px;height:40px;line-height:40px;background:#DEB833;border-radius:20px;color:#fff;text-align:center;margin-top:30px}
.cart-empty a:hover{color:#fff}
.checkbox-foot{width: 100%;background: #EFEFEF}
.checkbox-foot img{max-width: 854px; margin: 0 auto}
.checkbox-pc{display: block}
.checkbox-pc-ar,.checkbox-mobile,.checkbox-mobile-ar{display: none}

/*onepage*/
.onpage-title{width:100%;font-size: 16px;color: #DEB833;font-weight:bold;padding-bottom:10px ;border-bottom:1px solid #DEB833}
.onpage-list { display: flex;display: -webkit-flex;width:100%;flex-wrap: wrap;justify-content:space-between}
.onpage-item {width: calc((100% - 20px) / 2);margin:0 0 5px 0;position: relative}
.onpage-item-first{width:100%}
.onpage-item-title{padding:14px 0 8px}
.onpage-item input,.onpage-item select{ width: 100%;height: 40px;border: 1px solid #ddd !important; border-radius: 20px !important;padding: 0 20px !important;outline: none}
.onpage-item input:focus,.onpage-item select:focus{outline: none !important;box-shadow:none !important;color: #303030 !important;}
.onpage-item select{padding: 0 30px 0 20px;background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAALVBMVEUAAAAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDBkOl2bAAAADnRSTlMA8DAQz2DQn4/gv5BQQHO0+mAAAAB2SURBVCjPY5BgQAEtDPsKkPnsTxlYnyML1AUwMMQVoChgQFbCDFIAVLIYJmDyFEyxPjGAKnA8AGFcdIYqEIKqZBIxgChQgOlVdIYpgCtRABKCQAKuRAiIJyE5kClRgUnMANnJZkKKySieZE6EKkAoSWYYBdgAABukEvZqMmLAAAAAAElFTkSuQmCC") no-repeat scroll transparent;background-size:12px auto;background-position:calc(100% - 15px) 16px;}
.onpage-mb45{margin-bottom:45px}
.onpage-container{display: flex;display: -webkit-flex;justify-content: space-between;flex-direction:row-reverse}
.onpage-left{width:calc(100% - 320px);}
.onpage-right{display:inline-block;vertical-align:bottom;width:320px;float:right;padding-left:50px;}
.resp-tabs-list{display:inline-block;vertical-align:bottom;width: 100%;}
.resp-tabs-list li{border-width:1px 1px 0 1px;border-style:solid;border-color:#ddd;position:relative;width:180px;height: 50px;line-height: 50px; padding: 0 10px !important; float: left;margin-right:10px;cursor: pointer}
.resp-tabs-list li.active{border-color:#DEB833 !important;color:#DEB833}
.resp-tabs-list li.active::after{width:100%;height:2px;background:#fff;position:absolute;bottom:-1px;left:0;content:""}
.resp-tabs-container{display:inline-block;vertical-align:bottom;width: 100%;padding:10px 0}
.onepage-respcontent1{display:none}
.resp-tabs-list li:before{width: 12px;height: 50px;background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAgBAMAAABulgz5AAAAElBMVEUAAACampqZmZmZmZmXl5eZmZlOfsa7AAAABXRSTlMAMPCgIBLtEeEAAAAoSURBVCjPYyAfMAqgizgpooswB2EoMh2iihAiCF1DSomTIpYYpBQAACnoCQH3bk2fAAAAAElFTkSuQmCC) no-repeat center; background-size: 100% auto;content: ""; position: absolute; right: 10px;transform:rotate(90deg)}
.secure-right{display:inline-block;vertical-align:bottom;width:320px;float:right;padding-left:50px}
.onpage-right ul{display:inline-block;vertical-align:bottom;width:100%;margin-top:15px}
.onpage-right ul>li{display:flex;display:-webkit-flex;width:100%;align-items:center;justify-content:space-between;margin-bottom:10px}
.onpage-right ul>li a{margin:0}
.onpage-right ul>li img{width:70px;margin:0}
.onpage-right ul>li span{margin:0;font-size:14px}
.secure-right-shipping{align-items:center;justify-content:space-between;padding:10px 0;}
.secure-right-shipping>span{margin:0;font-size:14px}
.secure-right-bottom{border-top:1px solid #ddd}
.secure-right-price{font-size:16px !important;font-weight:bold}
.secure-right-title{width:100%;border-bottom:1px solid #DEB833;font-size:16px;font-weight:bold;color:#DEB833;padding-bottom:10px;position:relative}
.secure-right-dec {width: calc(100% - 80px);margin-left: 10px; justify-content: space-between;flex-direction: column; min-height: 70px;display: flex;}
.secure-right-dec p{font-size:12px}
.secure-right-quantity{display:flex;display:-webkit-flex;align-items:center;justify-content:space-between}
.secure-right-quantity span{font-size:12px !important;}
.secure-title{margin-bottom:30px}
#onepage-tab .resp-tab-content{border-width:1px 0 0 0;border-style:solid;color:#999}
.onepage-respleft{width: 50%;margin: 0;float:left}
.onepage-respright{float:right}
.onepage-resp-item{display: flex;display:-webkit-flex;width:100%;margin-bottom:10px;justify-content:space-between;align-items:center;}
.onepage-resp-item select,.onepage-resp-item input{width:calc((100% - 22px) / 2) !important;height:40px !important;border:1px solid #ddd !important;border-radius:20px !important;padding:0 20px !important;margin:0 !important}
.onepage-resp-item select{padding: 0 30px 0 20px !important}
.onepage-resp-itemfirst input{width:100% !important;margin-right: 0 !important;}
.onepage-respcontent{padding:15px 0}
.onepage-resp-item select:first-child, .onepage-resp-item input:first-child{margin-right:10px !important;}
.category-left-link a{color: #000000}
.onepage-paypalbtn{display: block; width: 215px;height: 70px; margin: 8px 0 0;background:url(../images/paypal-checkout.jpg) no-repeat center;background-size:100% 100%; border:none;}
.onepage-pay{text-align:right;clear: both;}
.onepage-pay span{font-weight: bold;font-size: 17px}
.onepage-placebtn{display: block;width: 100%;height: 40px;line-height: 40px;margin-top: 30px;font-weight: bold;background: #DEB833;color: #fff;text-align: center;border-radius: 20px; border: none;}
.onepage-placebtn:hover,.onepage-placebtn:active{color: #fff}
.onepage-respright{width:50%;padding-left:20px}
.onepage-respright img{display:block;width:12%;float:left;margin-left:5px}
.onepage-respright-pc{display:block}
.onepage-respright-mobile{display:none}
.onepage-box{display: none;width: 100%; background: rgba(0,0,0,0.5); z-index: 999; position: fixed; left: 0;top: 0; height: 100%;}
.onepage-box-title{text-align: center;border-bottom: 1px solid #ddd;padding-bottom: 18px; color: #DEB833;font-weight: bold;}
.onepage-box-content{width: 650px;background: #fff; border-radius: 5px; padding: 18px;position:absolute;top:22%;left:50%;transform:translate(-50%)}
.onepage-box-container{padding-top: 16px;}
.onepage-box-container p{font-size: 14px; line-height: 21px;}
.onepage-box-container p.fw{font-weight:bold}
.onepage-box-container .mb30{margin-bottom:30px}
.onepagebox-close{display:block;width:16px;height:16px;position:absolute;right:18px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAJ1BMVEUAAAAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDCToHrCAAAADHRSTlMA0BDvYDBA4MCgkCCI8e4hAAAAl0lEQVQoz0XPMQrCYBBE4SGgiHZBrCwiVt7BwiMIthaCrZV1bpUT/JAiCXuoEHbCm27hK/ap+kjs8NR1aMRek35Rc2/uRbsoDSB6VeeoAfGQLiYGMgEkAZgAIAkgBhADiAHkmwASCSAG67YRfy0j0++S2ea7ZBLtCqITEG2wFgFMAEkAEAOIAcQA0hmYjHobmBTtjxK7nWZgtledQN5cXAAAAABJRU5ErkJggg==) no-repeat center;background-size:100% auto;}
.onepage-box-container img{width:300px;margin-left:0}
.secure-checkaddr label input[type="checkbox"]:checked:after { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAM1BMVEUAAAAvhO0ug+wrhe8tg+0ug+0wgO8thewvg+0ug+0uhOwsg+8wh+8vg+0uhO0vhO0vhO1RDaAMAAAAEHRSTlMA4MAwUIAQYPCQsEAg0KDPPYnA7AAAAMhJREFUOMutU0sWgzAILCRoPkbn/qdtG1KbWJ904azy+MwAgcetcMIbsLG4U/dM2EH+x70wQNG7F4+PBPByYA+geWALbvADaeoNUwJcxx+wHjVXhK8KI2meF2bxypXAuyKo2jK1HnKNDvj0Qqj1CXZIy2sV6iOjQ9ZErVMQ34zU+VUzQrTEquUxQE1aZqlMggFStbcaACjPAFaPGWBJlP+KjEabxqDORz23UZufZX23uTDWyl0tbUBw5tof4a8Pp51eAYqe3n14At6CE8/cQYXbAAAAAElFTkSuQmCC); background-size: 100% auto;width: 14px; height: 14px; }
.secure-checkaddr label input[type="checkbox"]:after {content: ''; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAM1BMVEUAAAArhe8vhO0ug+wtg+0vg+0thewug+0vg+0wh+8wgO8uhOwug+0uhO0vg+wuhe0vhO2TxxY7AAAAEHRSTlMAMODAUPBgkNAgELCAoK9/abhTjAAAALNJREFUOMutU0EShCAMs4UKCmr+/9rd2UUrCvZiLsyQ0gQahldBm4tAdBs16ZFxgP2NnhzAwdO3jw8MuOnSXcBj1U2o4oE0nzfmBNCpv2C5ai4QVXFId9MJ7lAEa39VEex3YYwVped2hzw0wcVnRmgXBORi0bcLfLEZQZ3ZIP5WoEEqYxbYErbJYFzTeCjrqe1hFZtrZ9x2YDRyax25FaCn0AqEzNhf4XsfR0H5//UyDW/iA1bRCGbsQNFJAAAAAElFTkSuQmCC);background-size: 100% auto; width: 14px; height: 14px;position: absolute;  z-index: 100;left: 0px;top: 0;border-radius: 50%;}
.help-inline{margin-left: 20px}
.product-variants .help-block{display: block;padding-left: 10px;font-size: 13px;margin-top: 5px}
#pay-method-area{display: flex;display: -webkit-flex;align-items: center;width: 100%}

/*about*/
.content-main{ width: 100%;overflow: hidden;}
@media screen and (max-width:1024px){
    .product-image,.product-img{height: 250px}
}
@media screen and (min-width:768px) and (max-width:991px){
    .product-swiper{padding:0}
    .swiper-button-next{right:10px;top:118px}
    .swiper-button-prev{left:10px;top:118px}
    .product-contentleft{width: 100%;margin-right: 0;margin-bottom: 20px}
    .product-contentright{width:100%}
    .add-cartbtn{margin-top:0}
    /*index*/
    .index-best li {width: calc((100% - 20px) / 3);}

    /*onepage*/
    .onpage-right{margin-top: 0;}

    .product-image,.product-img{height: 150px}
}
@media screen and (max-width:991px){
     /*onepage*/
    .onpage-container{display:block;}
    #onepage-tab{padding: 0 10px}
    .onpage-left{width:100%;margin-top:30px;display:inline-block;vertical-align:bottom}
    .onpage-right { width: 100%;padding: 0;}
    .onpage-right-top{padding: 10px; border: 1px solid #ddd;border-radius: 20px;}
    .onpage-item{width:100%}
    .onpage-right ul > li img{width:160px;border-radius:4px}
    .secure-right-dec{width:calc(100% - 160px)}
    .secure-right-title::after{width:12px;height:19px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAgBAMAAABulgz5AAAAElBMVEUAAACampqZmZmZmZmXl5eZmZlOfsa7AAAABXRSTlMAMPCgIBLtEeEAAAAoSURBVCjPYyAfMAqgizgpooswB2EoMh2iihAiCF1DSomTIpYYpBQAACnoCQH3bk2fAAAAAElFTkSuQmCC) no-repeat center;background-size:100% auto;content:"";position:absolute;right:0}
    .secure-open:after{transform:rotate(90deg)}
    .secure-right-title{padding-bottom:0;border-bottom:none;margin-bottom: 0}
    .secure-right-title.secure-open{border-bottom: 1px solid #DEB833;padding-bottom: 10px;}
    .onpage-right ul{display:none}
    .secure-open + ul{display:block}
    .secure-right-bottom{border-top:0;padding:0 0 10px 0}
    .index-banner{padding-top: 44px}
    .onepage-resp-item select, .onepage-resp-item input{width: calc((100% - 10px) / 2) !important;}
    .help-inline{margin-left: 10px}
    .checkbox-pc{display: none}
    .checkbox-mobile{display: block}
}

@media (max-width:767px) {
    .container-title{padding-left:12px}
    .container-titleright { font-size: 13px; width: 75px; height: 30px; line-height: 30px;border-radius:15px}
    .container-titleleft{font-size:18px;line-height:30px}
    .container-title::after{width:5px;height:12px;}
    .index-listitem{width:100%;margin:0 0 20px}
    .index-listitem a .shop-now{width:110px;font-size:13px;}
    .index-best{margin-bottom:50px;overflow:initial}
    .index-best li{margin-right:10px}
    .swiper-pagination-index,.swiper-pagination-new {position: absolute;bottom: 25px;z-index: 9;text-align: center;display: flex;justify-content: center;width: 100%; }
    .swiper-pagination-index .swiper-pagination-bullet,.swiper-pagination-new .swiper-pagination-bullet{display:block;width:10px;height:10px;border-radius:50%;background:#d5d5d5;margin:0 5px}
    .index-bestlist, .index-newlist {position: relative;overflow: hidden;vertical-align: bottom; width: 100%;margin-bottom:20px}
    .swiper-pagination-index .swiper-pagination-bullet-active,.swiper-pagination-new .swiper-pagination-bullet-active{background:#DEB833}
    .product-img{height: 230px}
    .pink-link img{width:40px;}
    .pink-box1,.pink-box2,.pink-box3,.pink-box4{font-size:12px;}
    /*category*/
    .category-left{display:none}
    .category-right{width: 100%;margin-left: 0;}
    .category-list li{width:calc((100% - 10px) / 2)}
    .category-list li:nth-child(2n){margin-right:0}
    .category-mobile-title{font-size:18px;color:#DEB833;font-weight:bold;}
    .category-mobile{display:flex;display:-webkit-flex;justify-content:space-between;padding-bottom:10px;border-bottom:1px solid #ddd;margin-bottom:20px}
    .category-mobile-menu{display:block;width:20px;height:20px;background:url(../images/icon/filter.svg) no-repeat center;background-size:100% auto;margin:0}
    .category-mobile-title{margin:0}
    .category-mobile-list {position: fixed;width: 100%;height: 100%;right: 0; top: 0; transition:all .5s;display:none;z-index:999}
    /*.category-mobile-list.active{right: 0px;}*/
    .fixbg { width: 100%;height: 100%;z-index: 9; background: rgba(0,0,0,0.5); position: fixed;}
    .category-mobile-link{position: absolute; z-index: 999; background: #fff;width: 80%; height: 100%; right: 0;padding: 50px 15px;}
    .category-mobile-link a{display:block;width:100%;margin-bottom:15px;}
    .category-mobile-close{display:block;width:15px;height:15px;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAJ1BMVEUAAAAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDCToHrCAAAADHRSTlMA0BDvYDBA4MCgkCCI8e4hAAAAl0lEQVQoz0XPMQrCYBBE4SGgiHZBrCwiVt7BwiMIthaCrZV1bpUT/JAiCXuoEHbCm27hK/ap+kjs8NR1aMRek35Rc2/uRbsoDSB6VeeoAfGQLiYGMgEkAZgAIAkgBhADiAHkmwASCSAG67YRfy0j0++S2ea7ZBLtCqITEG2wFgFMAEkAEAOIAcQA0hmYjHobmBTtjxK7nWZgtledQN5cXAAAAABJRU5ErkJggg==) no-repeat center;background-size:100% auto;position:absolute;right:10px;top:10px;z-index:9999}
    .category-mobile-link{display:block}
    .category-mobile{margin-top:30px}
    .product-image,.product-img{height: 220px}

    /*product*/
    .product-content{padding-top: 35px}
    .product-contentright{width:100%}
    .add-cartbtn{margin-top:0}
    .product-swiper{padding:0}
    .swiper-button-next, .swiper-button-prev{display:none}
    .swiper-pagination-bullet-active {background:#DEB833;}
    .swiper-pagination {left: 50%;transform: translateX(-50%) !important;bottom:-22px}
    .swiper-pagination-bullet{margin-right:10px}
    .product-form{padding:14px 0 50px}
    .swiper-pagination-top{display:block}
    #ChildVerticalTab_1 { margin: 0 auto 50px !important;}
    .product-contentleft{margin-right:0;width:100%;border-radius:5px;overflow:hidden;margin-bottom:20px}
     .swiper-container{width:100%}
    .gallery-thumbs{display:none}
   .gallery-top{width:100%;}
    .swiper-pagination-top {position: absolute;bottom: 0;z-index: 9;text-align: center; }
    .product-swiper .swiper-pagination{display:block}
    .product-tabs-list li{width:calc(50% - 5px);margin-right:5px}
    .product-tabs-list li:last-child{margin-right:0;margin-left:5px}

    /*cart*/
    .continue-shopping *{font-size:13px}
    .cart-list-item {flex-wrap: wrap;align-items: flex-start;}
    .cart-list li{display:inline-block;vertical-align:bottom;width:100%}
    .cart-list li img{width:100%}
    .cart-product-name{display:none}
    .cart-list-dec{width: calc(100% - 180px); margin: 0 10px;float:left}
    .cart-num {width: calc(100% - 180px);margin-left: 170px; flex-wrap: wrap;}
    .cart-num-title{width:100%;margin-bottom:5px}
    .cart-price { width: 100%;margin-top: 10px;}
    .cart-quantity > input {height: 20px;line-height: 20px;}
    .cart-quantity{width:100%}
    .cart-code{width:100%}
    .cart-comment{height: 100px; border-radius: 5px;padding: 5px;}
    .cart-btn{flex-wrap:wrap}
    .cart-btn span{display:none}
    .cart-paypalbtn {width: 197px;margin-left: calc(100% - 197px);}
    .cart-checkoutbtn{width: 197px;margin-top:20px}
    .cart-title{margin:30px auto 0}
    .cart-shipping-left {width:100%}
    .cart-shipping-right {width:100%}
    .cart-remove{margin-bottom:10px;display:block}
    .cart-list-left { display: block;width: 160px; float: left;}
    .cart-product-name2{margin:10px 0;display:block}
    .cart-product-detail{margin-top:0}

     /*onepage*/
    .onpage-right{margin-top: 30px;}
    .onepage-respleft{width:100%}
    .onepage-respright,.onepage-respleft{float:none}
    .resp-tabs-list li{width:calc(50% - 5px);margin-right:5px !important;text-align:center}
    .resp-tabs-list li:last-child{margin-right:0 !important;margin-left:5px !important;}
    #product-tab{margin:0 auto 20px}
    .onepage-resp-item{margin-bottom:20px}
    .onepage-respright {width: 100%;padding-right: 0; margin: 0 0 20px;}
    .onepage-respright-mobile{display: flex;display:-webkit-flex;}
    .onepage-respright-pc{display:none}
    .onepage-box{overflow-y:scroll;}
    .onepage-box-content{width:90%;top:15%}
    .onepage-box-container img{width:100px}
    .onepage-box-container p{font-size:13px;line-height:18px}
    .resp-tabs-list li:before{content:none}
    .onepage-resp-itemfirst input{width: 100% !important;}

    /*search*/
    .search-list li{width:calc((100% - 10px) / 2)}
    .search-list li:nth-child(5n){margin-right:10px}
    .search-list li:nth-child(2n){margin-right:0}
    .page{display:none !important;}
    .search-title{font-size:18px;font-weight:bold;margin-top:22px}
}
